@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

@theme {
    --font-sans: "Caros Soft", ui-sans-serif, system-ui, sans-serif;
    --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Moki Mono", ui-monospace, monospace;
    --font-artegra: "Artegra Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}
.fuentes{
    font-family: sans-serif;
}
:root {
  --color-primary: #C9A03A;
  --color-secondary: #000000;
}

/* barra de scroll (scrollbar) */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #E5E7EB;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--color-primary);
}

/* Modificar selector */
::selection {
    background: var(--color-secondary);
    color: var(--color-primary);
}